.info-wrapper {
  max-width: 50% !important;
  margin: auto;
}

.what-is {
  display: flex;
  /* width: 100%; */
  margin: auto;
  padding: 40px 40px;
  align-items: center;
}
.what-is-body {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.what-is-wrapper {
  padding: 20px 0px;
}

.sign-up-image {
  width: 100%;
}

@media-breakpoint-up (sm) {
  .what-is-body {
    padding: 20px;
  }
  .wrap-test {
    padding: 40px;
  }
}
